<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AdvertServiceEndpointAddress" connectionString="OvArnay/w4+TxyREriI4GG0650X1I5hiCXyTBJRJSPFwz9GMymCciA5wrF4FXkUJ"/> 
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
